.banner{
	background-image: url("drugs.jpg");
}

.overlay{
	position:relative;
	width:500px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding:30px;
	color:white;
}

.title{
	display:table;
	padding:32px;
	font-size:32px;
	background-color:#00bcd4;
}