<html>
<head>
	<title>Amber</title>
	<link rel="stylesheet" type="text/css" href="/static/app/content/global.css">
	<link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="header">
	<div class="container">
		<div class="logo">
			<a href="/index.html">
			<img border="0" width="150px" src="/static/app/content/amber_light.svg">
			</a>
	  </div>
	  <ul id="menu">
  		<a href="/about.html"><li>ABOUT</li></a>
  		<a href="/dashboard.html"><li>DASHBOARD</li></a>
  	</ul>
  </div>
</div>
<div class="container">
	<div class="title" style="background-color:#4dd0e1;margin-top:12px">About {{name}}</div>
	<p class="description" style="background-color:#e0f7fa;margin-top:12px;padding:12px"> {{text}} </p>
</div>
<div class="footer">
	<div class="container">
		&nbsp;<br>
		A MylanHack 2015 Project by Chris Wei, Ally Sorge, and also Chris and Ally.<br>
		<img src="/static/app/content/mylan_logo.svg">
	</div>
	</div>
</div>
<script src="/static/app/scripts/jquery-1.11.2.min.js"></script>
<script src="/static/app/content/script.js"></script>
</body>

</html>