<html>
<head>
	<title>Amber</title>
	<link rel="stylesheet" type="text/css" href="/static/app/content/global.css">
	<link rel="icon" href="/static/app/content/favicon.ico" type="image/x-icon"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="header">
	<div class="container">
		<div class="logo">
			<a href="/index.html">
			<img border="0" width="150px" src="/static/app/content/amber_light.svg">
			</a>
	  </div>
	  <ul id="menu">
  		<a href="/about.html"><li>ABOUT</li></a>
  		<a href="/dashboard.html"><li>DASHBOARD</li></a>
  	</ul>
  </div>
</div>
<div class="container">
	<div class="title" style="background-color:#4dd0e1;margin-top:12px">{{name}}<a href="/dashboard"><div style="float:right;font-size:12px;margin-top:8px">ADD TO DASHBOARD</div></a></div>
	{% if name == "ADVIL"%}
	<div class="subtitle" style="color:white;">Advil is a brand of ibuprofen, a nonsteroidal anti-inflammatory drug. Advil is manufactured by Pfizer and has been on the market since 1984.</div>
	<p class="description" style="background-color:#e0f7fa;margin-top:12px;padding:12px">
	<img style="padding:12px" width="180px" align="left" src="http://images.medscape.com/pi/features/drugdirectory/octupdate/WRH01500.jpg">
	<b> Basic info </b><br>
	Ibuprofen is used to reduce fever and treat pain or inflammation caused by many conditions such as headache, toothache, back pain, arthritis, menstrual cramps, or minor injury. Ibuprofen may also be used for purposes not listed in this medication guide.<br>

	Ibuprofen may cause life-threatening heart or circulation problems such as heart attack or stroke, especially if you use it long term. Do not use ibuprofen just before or after heart bypass surgery (coronary artery bypass graft, or CABG).<br>

	Get emergency medical help if you have chest pain, weakness, shortness of breath, slurred speech, or problems with vision or balance.<br>
	<br><b>Important information</b><br>
	This medicine may also cause serious effects on the stomach or intestines, including bleeding or perforation (forming of a hole). These conditions can be fatal and can occur without warning while you are taking ibuprofen, especially in older adults.<br>

	Call your doctor at once if you have symptoms of stomach bleeding such as black, bloody, or tarry stools, or coughing up blood or vomit that looks like coffee grounds.<br>

	Do not take more of this medication than is recommended. An overdose of ibuprofen can cause damage to your stomach or intestines. Use only the smallest amount of medication needed to get relief from your pain, swelling, or fever.<br><br>
	<b>Side Effects</b><br>
	Get emergency medical help if you have any of these signs of an allergic reaction to ibuprofen: hives; difficulty breathing; swelling of your face, lips, tongue, or throat.

	Stop taking this medicine and seek medical attention or call your doctor at once if you have any of these serious side effects:

	chest pain, weakness, shortness of breath, slurred speech, problems with vision or balance;
	black, bloody, or tarry stools, coughing up blood or vomit that looks like coffee grounds;
	swelling or rapid weight gain;
	urinating less than usual or not at all;
	nausea, upper stomach pain, itching, loss of appetite, dark urine, clay-colored stools, jaundice (yellowing of the skin or eyes);
	fever, sore throat, and headache with a severe blistering, peeling, and red skin rash;
	bruising, severe tingling, numbness, pain, muscle weakness; or
	severe headache, neck stiffness, chills, increased sensitivity to light, and/or seizure (convulsions).
	Less serious ibuprofen side effects may include:

	upset stomach, mild heartburn, diarrhea, constipation;
	bloating, gas;
	dizziness, headache, nervousness;
	skin itching or rash;
	blurred vision; or
	ringing in your ears.
	This is not a complete list of side effects and others may occur. Call your doctor for medical advice about side effects. You may report side effects to FDA at 1-800-FDA-1088.<br>
	</p>
	{% endif %}
</div>
<div class="footer">
	<div class="container">
		&nbsp;<br>
		Amber: a Mylan Hackathon 2015 Project by Ally Sorge, Chris Wei, and Maggie Yu<br>
		<img src="/static/app/content/mylan_logo.svg">
	</div>
	</div>
</div>
<script src="/static/app/scripts/jquery-1.11.2.min.js"></script>
<script src="/static/app/content/script.js"></script>
</body>

</html>