<html>
<head>
	<title>Amber</title>
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="banner">
	<div class="logo">
		<a href="/index.html">
		<img border="0" width="150px" src="amber_light.svg">
		</a>
  </div>
  <ul id="menu">
  	<a href="#"><li>ABOUT</li></a>
  	<a href="#"><li>DASHBOARD</li></a>
  </ul>
  <div class="overlay" id="one">
	  <center>
	  <div class="title">What's really in your medicine?</div>
	  <a onclick="indexTransition()" href="#">
	  <div class="amber_button" style="margin-top:16px;">GET STARTED</div></a>
	  </center>
  </div>
  <div class="overlay" id="two" style="background-color:#00bcd4;">
	  Search for your medicine and compare ratings between different producers.
	  <div style="margin-top:16px">
			<input type="text" placeholder="advil, acetaminophin, mylan" id="searchbar" size="44"></input>
			<a onclick="" href="#"><div class="amber_button" style="margin-left:10px;">SEARCH</div></a><br>
		</div>
		<hr>
		<a href="#" class="small_link">LOGIN /</a> 
		<a href="#" class="small_link">SIGN UP /</a>
		<a href="#" class="small_link">LEARN MORE</a>
  </div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="script.js"></script>
</body>

</html>